* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    font-family: 'Bai Jamjuree', sans-serif;
}

header {
    text-align: center;
}

header img {
    margin-top: 125px;
    width: 90px;
}

header h1 {
    margin-top: 50px;
    color: hsl(210, 10%, 33%);

    font-size: 35px;
    font-weight: 600;
    height: 55px;
}

header p {
    color: hsl(201, 11%, 66%);

    margin: auto;
    line-height: 22px;

    width: 550px;
    height: 80px;

}

header .l-green {
    background-color: hsl(171, 66%, 44%);
    color: #ffffff;
    box-shadow: 1px 3px 2px hsl(171, 66%, 36%);
    border-radius: 30px;

    padding: 14px 35px;
    margin-left: 10px;
    
    text-decoration: none;
    font-weight: 600;
}

header .l-blue {
    background-color: hsl(233, 100%, 69%);
    color: #ffffff;
    box-shadow: 1px 3px 2px hsl(233, 57%, 56%);
    border-radius: 30px;

    padding: 14px 35px;
    margin-left: 10px;
   
    text-decoration: none;
    font-weight: 600;
}

section {
    text-align: center;
}

section h2 {
    color: hsl(210, 10%, 33%);

<<<<<<< HEAD
    margin-top: 110px;

    font-size: 27px;
    font-weight: 600;

    height: 50px;
=======
    margin-top: 100px;

    font-size: 30px;
    font-weight: 600;

    height: 60px;
>>>>>>> ccb8312c39ee07e3763c93c9f916fc446f0e34a7
}

section p {
    color: hsl(201, 11%, 66%);

    font-size: 14px;
    line-height: 20px;

    margin: auto;
<<<<<<< HEAD
    padding-bottom: 40px;
=======
    padding-bottom: 60px;
>>>>>>> ccb8312c39ee07e3763c93c9f916fc446f0e34a7

    width: 550px;
    height: 80px;
}

aside {
    display: flex;
}

aside .box-flex {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;

    height: 100px;

    padding-bottom: 50px;
}

aside img {
<<<<<<< HEAD
    width: 720px;

    margin-left: -50px;
=======
    width: 750px;

    margin-left: -60px;
>>>>>>> ccb8312c39ee07e3763c93c9f916fc446f0e34a7
}

.box-flex p {
    color: hsl(201, 11%, 66%);

    font-size: 15px;
    line-height: 25px;

    width: 330px;
    
}

.box-flex h3 {
    color: hsl(210, 10%, 33%);
    
    padding-bottom: 9px;
    font-size: 20px;
}

.column {
    margin-top: 100px;
    margin-left: 100px;
 
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
}

section img {
    width: 700px;
}

#h2-s {
    margin-top: 30px;
=======
>>>>>>> ccb8312c39ee07e3763c93c9f916fc446f0e34a7
}